<div class="well well-custom" style="position: absolute; margin-left: 10px; margin-top: 5px; width: 96%;">
  <form name="form" class="css-form form-custom form" novalidate>
    <div class="row">
      <div class="col-xs-10 col-md-10" repoName="vm.repoName">
        <div class="form-group col-md-7">
          <input type="text" class="form-control" placeholder="// 'label_name' | tr //" ng-model="p.tagName" name="uTagName" ng-change="vm.reset()" ng-model-options="{ debounce: 250 }" tag-name required>
          <input type="text" class="form-control" placeholder="// 'label_name' | tr //" ng-model="p.Name" name="uName" ng-change="vm.reset()" ng-model-options="{ debounce: 250 }" project-name required>
          <div class="error-message">
            <div ng-messages="form.$submitted && form.uLabelName.$error">
              <span ng-message="required">// 'label_name_is_required' | tr //</span>
            </div>
            <span ng-show="vm.hasError">// vm.errorMessage | tr //</span>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="vm.addCustom(p)">// 'save' | tr //</button>
          <button type="button" class="btn btn-default" ng-click="vm.cancel(form)">// 'cancel' | tr //</button>
        </div>
      </div>
    </div>
  </form>
</div>
