<div class="modal fade" data-backdrop="static" id="updateCustomModal" tabindex="-1"  role="dialog">
  <div class="modal-dialog">
    <form name="form" class="form-horizontal css-form" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;//vm.modalTitle//</h4>
        </div>
        <div class="modal-body">
          <div class="form-group col-md-7">
            <input type="text" class="form-control" placeholder="// 'custom_name' | tr //" ng-model="p.customName" name="uCustomName" ng-change="vm.reset()" ng-model-options="{ debounce: 250 }" normal-name required>
            <div class="error-message">
              <div ng-messages="form.$submitted && form.uCustomName.$error">
                <span ng-message="required">// 'custom_name_is_required' | tr //</span>
                <span ng-message="projectName">// 'custom_name_is_invalid' | tr //</span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-7">
            <input type="text" class="form-control" placeholder="// 'tag_name' | tr //" ng-model="p.tagName" name="uTagName" ng-change="vm.reset()" ng-model-options="{ debounce: 250 }" tag-name required>
            <div class="error-message">
              <div ng-messages="form.$submitted && form.uTagName.$error">
                <span ng-message="required">// 'tag_name_is_required' | tr //</span>
                <span ng-message="tagName">// 'tag_name_is_invalid' | tr //</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-show="vm.editable" type="submit" class="btn btn-primary" id="btnOk" ng-click="form.$valid && vm.save(destination)">// 'ok' | tr //</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">// 'close' | tr //</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
